@import "normalize";
@import "photo-card";
@import "photo-stream";

*{
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
}

.container{
  width: 100%;
  max-width: 990px;
  margin: 0 auto;
  padding: 10px;
}